In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('./brazil/brazil_reviews.csv')

In [22]:
df

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,17878,64852,2010-07-15,135370,Tia,This apartment is in a perfect location -- two...
1,17878,76744,2010-08-11,10206,Mimi,we had a really great experience staying in Ma...
2,17878,91074,2010-09-06,80253,Jan,Staying in Max appartment is like living in a ...
3,17878,137528,2010-11-12,230449,Orene,In general very good and reasonable price.\r\n...
4,17878,147594,2010-12-01,219338,David,The apt was nice and in a great location only ...
...,...,...,...,...,...,...
316051,40157438,565279567,2019-11-17,310155650,Andrea,The host canceled this reservation 44 days bef...
316052,40237024,567395895,2019-11-22,138627562,Thiago,The host canceled this reservation 36 days bef...
316053,40251786,567015379,2019-11-21,4792833,Padraig,The host canceled this reservation 40 days bef...
316054,40266786,567192792,2019-11-21,232735567,Bárbara,The host canceled this reservation 37 days bef...
316055,40290464,567280187,2019-11-22,161584846,Nicolas,The host canceled this reservation 36 days bef...

In [23]:
df2 = df['comments']
dfl = df2.str.len()
dfl.mean(axis = 0)

263.24641983435504

In [24]:
from langdetect import detect

In [ ]:
langs = []
for i in df2:
    try:
        langs.append(detect(i))
    except:
        langs.append('Nan')
        continue

In [ ]:
import collections
c = collections.Counter(langs)
freq = pd.DataFrame.from_dict(c, orient='index').reset_index()

In [ ]:
len(df2)

In [ ]:
freq = freq.apply(lambda x: x/len(df2) if x.name == 0 else x)
freq

In [ ]:
freq_sorted = freq.sort_values(by= [0], ascending=False)
freq_sorted

In [17]:
export = freq_sorted.reset_index(drop=True)

In [18]:
export.to_csv(r'hong_kong.csv')